[flake8]
exclude = .idea,.vscode,.git,pg_data,venv,env,tests
show-source = True
max-line-length = 120
application-import-names = smarkets
max-cognitive-complexity = 15
ignore = FI1,I100,W503,I201,I202,I101,C812,FI58,E128,E124
